#commentBox{
    grid-area:resume;
    display: grid;
    /* grid-template-columns: 20%, 20%, 20%, 20%, 20%;
    grid-template-rows: 50px, 50px; */
    width: 700px;
    height:200px;
    grid-column:1;
    grid-row:3;
    margin-left: 350px
}

#commentEmail{
    width:100px;
}

#commentContainer {
    width: 1025px;
    height: 113px;
    border-radius: 3px;
}

.iconTopic{
    background: url(../../img/topic.svg);
    background-size:contain;
    background-repeat: no-repeat;
    width: 160px;
    height: 48px;
    border: none;
    margin:auto
}

.icons{
    margin:auto;
    display:flex;
    justify-content:space-around;
    width: 300px;

}

#shareIdea{
    color: #ED7839;
    margin: auto;
    font: 18px 'Roboto';
    font-weight: 700;
}

#culture{
    margin: 35px 0px;
    font-family: "Quicksand";
    font-weight: 400;
    color: #595959;
    text-align: center;
    height:39px;
}

.discussion{
    border: 1px solid #ECECEC;
    background: #FDF1EB;
    color: #4E4E4E;
    font-weight: 500px;
    font-size: 20px;
    font-family:"Roboto";
    line-height: 25px;
    margin-top: 50px;
}

#resum{
    border: 1px solid #ECECEC;
    background: #FDF1EB;
    color: #4E4E4E;
    font-weight: 500px;
    font-size: 20px;
    font-family:"Roboto";
    line-height: 25px;
}

#loremResume{
    margin: 2px 0px;
    font-family: "Quicksand";
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #595959;
    text-align:start;
    height:100px;
}

#showLess{
    display:none;
}

#showMor{

}

#showBtn{
    color:#ED7839;
    width: 100px;
    border: none;
    margin:auto
}

#suggestion{
    height:18px;
    width: 945px;
    font-family: "Quicksand";
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: #595959;
    text-align:center;
}

#commentArea{
    width: 1025px;
    height: 505px;
}

#userComment {
    border: 1px solid #ECECEC;
    height: 200px;
    width: 1028px;
}
#commentArea{
    display:flex;
    flex-direction: column;
    width: 1028px;
    height: 148px;
    border: 1px solid #ECECEC;
}

#aboutBefore{
    color:#ED7839;
    width: 1020px;
    font-weight: 700px;
    font-size: 16px;
    font-family:"Roboto";
    line-height: 18px;
    border: 1px solid #ECECEC;
    height: 19px;
}

#aboutContent{
    color:#ED7839;
    width: 1020px;
    font-weight: 700px;
    font-size: 16px;
    font-family:"Roboto";
    line-height: 18px;
    border: 1px solid #ECECEC;
    height: 19px;
}

.resumeSection{
    border: 1px solid #ECECEC

}

#sendBtn{
    display:flex;
    width: 205px;
    height: 31px;
    background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
    color: white;
    border-radius: 0px 0px 4px 0px;
    border: 1px solid #CCCCCC;
    margin:auto;

}

#postAbout{
    color:#ED7839;
    font-weight: 700px;
    font-size: 16px;
    font-family:"Roboto";
    line-height: 18px;
    border: 1px solid #ECECEC;
    height: 39px;
}

#postPAbout{
    color:#4D4D4D;
    height: 113px;
    font-weight: 400px;
    font-size: 14px;
    font-family:"Roboto";
    line-height: 18px;
    width: 980;
}

.aboutComment{
    display: flex;
    flex-direction: column;
    color:#ED7839;
    font-weight: 700px;
    font-size: 16px;
    font-family:"Roboto";
    line-height: 18px;
    border: 1px solid #ECECEC;
}

#user{
    height:15px;
    width: 540;
    font-family: "Quicksand";
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    color: #595959;
    text-align:start;
}

#postComment{
    color:#4D4D4D;
    height: 113px;
    font-weight: 400px;
    font-size: 14px;
    font-family:"Roboto";
    line-height: 18px;
    width: 980;
}