#container{
  display: grid;
  grid-template-areas:
  "aside",
  "header",
  "main",
  "resume";
  grid-template-columns: 25%, 25%, 25%, 25%;
  grid-template-rows: 25%, 25%, 25%, 25%;
}

.header{
  background: #FDF1EB;
  display:grid;
  grid-area: header;
  grid-column: 1;
  grid-row: 1;
  margin-left: 220px;
  width: 1146px;
  height: 70px;
}

#pageTitle{
  color: #725C5C;
  padding-left: 20px;
  line-height: 20px;
  font: 22px 'Roboto';
  grid-column: 1/1;
  grid-row:2/2;
}

#miniTitle{
  color: #725C5C;
  padding-left: 20px;
  line-height: 16px;
  font: 14px 'Roboto';
  fill: #725C5C;
  grid-column: 1/1;
  grid-row:1/1;
}

#miniISSN{
  color: #725C5C;
  padding-left: 20px;
  line-height: 16px;
  font: 14px 'Roboto';
  grid-column: 1/1;
  grid-row:3/3;
  margin-top: -10px;
}

#language{
  display: flex;
  grid-column: 2/2;
  grid-row:2/2;
  width: 97px;
  height: 34px;
  border-radius: 10px;
  text-align-last:center;
  background: url(../../img/idiomas.svg);
  background-position-y: 4px;
  background-repeat: no-repeat;
}

/* #leaveBtn{
  width:50px;
  height: 30px;
} */

#welcome{
  display:flex;
  grid-column: 3/3;
  grid-row:1/4;
}

#profilePhoto{
  display:flex;
  margin: -10px, 0px, 0px, 0px;
  margin-right: 100px;
  width: 60px;
  height: 50px;
  border-radius: 100%;
}

#aside{
  grid-area: aside;
  display:grid;
  grid-column: 2;
  grid-row:2;
  /* flex-direction: column; */
  position: fixed;
  background: #E5E5E5;
  width: 220px;
  /* height:2500px; */
}

#slacaLogo{
  display:grid;
  margin-left: -40px;
  margin-top: -34px;
  width: 220px;
  /* height: 258px; */
}

#asideTitle{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
  background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
  color: white;
  width: 220px;
  height:70px;
}

.asideBtn{
  display:flex;
  align-items: center;
  padding-top:-40 px;
  flex-direction:collumn;
  width: 220px;
  height:33px;
  background:white;
  font-size: 15px;
  font-family: "Quicksand";
  font-weight: 500;
  color: #595959;
  text-align: center;
  border: 1px solid #ECECEC;
  font-style:normal;
}