.login-container{
    display: grid;
    grid-template-areas:
    "title",
    "logo",
    "login";
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 25%, 25%, 25%, 25%;
}

.login-text{
    height:15px;
    width: 540;
    font-family: "Quicksand";
    font-size: 24px;
    font-weight: 500;
    line-height: 15px;
    color: #595959;
    text-align: center;
    border: 1px solid #ECECEC;
}

.title{
    color:#ED7839;
    width: 1300px;
    font-weight: 700px;
    font-size: 16px;
    font-family:"Roboto";
    line-height: 18px;
    border: 1px solid #ECECEC;
    height: 19px;
    text-align: center;
    background: #FDF1EB;
}
.logoImg{
    display: flex;
    margin: auto;
    margin-top: 50px;
}

.buttons {
    grid-area: login;
    grid-column:2;
    grid-row:2;
    background: #FDF1EB;
    text-align: center;
}

.input-login{
    height:20px;
}

.linkBtn{
    display: flex;
    justify-content: center;
    align-content: center;
    /* width: 150px;
    height:33px; */
    border-radius: 4px;
    text-decoration: none;
}

.buttons > input {
    margin: auto;
    background: #FDF1EB;
}
.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.link-home > button {
    margin: 10px;
    width: 80px;
}
.link-home > button:hover{
    background-color: #d8d8d8;
}