#notFoundSec{
    display: grid;
    grid-template-areas:
    "image",
    "msgBtn";
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 25% 25% 25% 25%;
    border: 1px solid black;
    height:650px
}

#notFoundImg{
    grid-column: 2/2;
    grid-row: 2/2;
    width: 550px;
    height: 370px;
    border: 1px solid black;
    margin-top: -50px;
}

#msgAndBtn{
    grid-column:2/2;
    grid-row: 4/4;
    margin-top: -100px;
    margin:auto
}

#comingSoon{
    background: #FDF1EB;
    color: #ED7839;
    margin: auto;
    font: 18px 'Roboto';
    font-weight: 700;
    margin-top:-20px;
    margin-right: 150px
}

#backBtn{
    display:flex;
    width: 145px;
    height: 35px;
    background: linear-gradient(180deg, #FFB354 50%, #EE7A3A 100%);
    color: white;
    border-radius: 0px 0px 4px 0px;
    border: 1px solid #CCCCCC;
    /* margin:auto; */
    margin-top:15px;
    margin-left: 60px;
    text-decoration: none;
}